In [1]:
import pandas as pd

In [2]:
data_file = "Resources/budget_data.csv"
data_file_df = pd.read_csv(data_file)
data_file_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [3]:
count = data_file_df["Date"].value_counts()
count

Apr-2014    1
Jun-2010    1
Feb-2011    1
Jan-2011    1
Jul-2015    1
           ..
Aug-2016    1
Mar-2016    1
Jun-2011    1
Oct-2010    1
Jun-2016    1
Name: Date, Length: 86, dtype: int64

In [4]:
Net_profit_loss = data_file_df["Profit/Losses"].sum()
Net_profit_loss

38382578

In [5]:
data_file_df.loc[0,"Previous Profit/Losses"] = 0
r= 1
while r<=85:
    data_file_df.loc[r,"Previous Profit/Losses"] = data_file_df.loc[r-1, "Profit/Losses"]
    r=r+1
data_file_df

#data_file_df.loc[r,"Change in Profit/Losses"] = data_file_df.loc[r, "Profit/Losses"] - data_file_df.loc[r, "Previous Profit/Losses"]

        Date  Profit/Losses  Previous Profit/Losses
0   Jan-2010         867884                     0.0
1   Feb-2010         984655                867884.0
2   Mar-2010         322013                984655.0
3   Apr-2010         -69417                322013.0
4   May-2010         310503                -69417.0
..       ...            ...                     ...
81  Oct-2016         102685                768450.0
82  Nov-2016         795914                102685.0
83  Dec-2016          60988                795914.0
84  Jan-2017         138230                 60988.0
85  Feb-2017         671099                138230.0

[86 rows x 3 columns]

In [9]:
data_file_df['Change in Profit/Losses'] = data_file_df['Profit/Losses'].sub(data_file_df['Previous Profit/Losses'])
data_file_df

        Date  Profit/Losses  Previous Profit/Losses  Change in Profit/Losses
0   Jan-2010         867884                     0.0                 867884.0
1   Feb-2010         984655                867884.0                 116771.0
2   Mar-2010         322013                984655.0                -662642.0
3   Apr-2010         -69417                322013.0                -391430.0
4   May-2010         310503                -69417.0                 379920.0
..       ...            ...                     ...                      ...
81  Oct-2016         102685                768450.0                -665765.0
82  Nov-2016         795914                102685.0                 693229.0
83  Dec-2016          60988                795914.0                -734926.0
84  Jan-2017         138230                 60988.0                  77242.0
85  Feb-2017         671099                138230.0                 532869.0

[86 rows x 4 columns]

In [11]:
data_file_df['Change in Profit/Losses'].mean()

-2196167.0

In [ ]:
data_file_df['Change in Profit/Losses'].max()

In [ ]:
data_file_df['Change in Profit/Losses'].min()